<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
    {{messages.success}}
    {% endif %}
   {{form}}
   <br>
   <tr><th><label for="id_text">Text:</label></th><td><textarea name="text" cols="40" rows="10" required id="id_text">
</textarea></td></tr>
<tr><th><label for="id_ans">Ans:</label></th><td><input type="checkbox" name="ans" id="id_ans" value="1"></td></tr>

<tr><th><label for="id_text">Text:</label></th><td><textarea name="text" cols="40" rows="10" required id="id_text">
</textarea></td></tr>
<tr><th><label for="id_ans">Ans:</label></th><td><input type="checkbox" name="ans" id="id_ans" value="2"></td></tr>
    
<input type = submit value="Add Question" name='Add_Q'>
<input type = submit value="Finish" name='Finish'>
</form>
    
