/*
feed.css
Description: feed.css contains the css required by both - classroom feed and cumulative feed.
Author: Jatin Pandey, Alfarhan Zahedi
*/

.custom-row {
  width: 95%;
  margin: 20px auto;
  padding-top: 20px;
}

.profile-card-avatar {
  position: relative;
  top: 5px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.profile-card {
  display: flex;
  padding: 1rem;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*
CSS for left and right sidebars.
*/
.navigation-list-container {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navigation-list-container .navigation-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem 0;
}

.navigation-list-container .navigation-list-header .navigation-list-title {
  color: rgb(51, 51, 51);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.4rem 1rem;
  margin-bottom: -1px;
  font-size: 12px;
  background-color: #fff;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: none;
}

.navigation-list-container input {
  font-size: 12px;
}

.navigation-list-container textarea {
  font-size: 12px;
  height: 100px;
}

.navigation-list-container button {
  font-size: 12px;
  margin-bottom: 12px;
}

.navigation-list-container .form-label-group {
  margin-bottom: 12px;
}

/*
CSS for posts in feed and classrooms.
*/
.timeline-card {
  border-radius: 0.5rem;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.timeline-header {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.timeline-header-profile-photo {
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;
}

.timeline-header-profile-name {
  font-size: 14px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 0;
}

.timeline-header-banner {
  width: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.timeline-header-timestamp {
  color: #616770;
  font-size: 12px;
  margin-left: 8px;
  padding: 0;
}
.timeline-card-content {
  margin-top: 6px;
}

.timeline-card-content-text {
  padding: 14px 16px 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.38;
  font-family: Lato, Helvetica, sans-serif;
}

.timeline-card-content-image {
  width: 100%;
  height: auto;
}

.classroom-post .post {
  padding: 10px 30px;
  font-size: 12px;
}

.classroom-post .options {
  display: inline-block;
  width: 100%;
  margin-top: 7px;
}

.classroom-post .post a {
  text-decoration: underline !important;
}

.classroom-post .post a:visited {
  text-decoration: underline !important;
}

/*
CSS overrides for pagination.
*/
.pagination-div {
  display: table;
  margin: 0px auto;
  font-size: 12px;
}

.pagination-div .pagination .active .page-link {
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(0, 210, 181) !important;
  border-color: rgba(0, 210, 181) !important;
}

.pagination-div .pagination .page-link {
  padding: 8px 10px;
  color: inherit;
}

.pagination-div .pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 210, 181, 0.25) !important;
}

.pagination-div .pagination .page-link:hover {
  color: inherit;
}

.pagination-div .pagination .active .page-link:hover {
  color: #ffffff;
}

/*
Miscellaneous!
*/
.classroom-description {
  font-size: 15px;
}

button.student-remove-button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  background: white;
}

.code {
  letter-spacing: 5px;
  font-size: 14px;
}
