/*
landing_page.css
Description: landing.css contains the css required by the ladning page of the webiste.
Author: Jatin Pandey
*/

.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}

.img-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 50%;
  width: 700px !important;
  -webkit-transform: translateY(-50%) translateX(30%);
  -ms-transform: translateY(-50%) translateX(30%);
  transform: translateY(-50%) translateX(5%);
}

@media (max-width: 991px) {
  .img-absolute {
    display: none;
  }
}

.site-blocks-cover h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #000;
  font-weight: 900;
}

.site-blocks-cover p {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 300;
}

.site-blocks-cover a {
  color: #ffffff;
}
