{% extends 'base.html' %}

{% comment %}
    This template acts as the landing page of the website.
{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Edumate
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/css/landing_page.css' %}">
{% endblock %}

{% block body %}
<div class="site-blocks-cover">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12" style="position: relative;">
                <img src="{% static 'img/landing.png' %}" alt="Image" class="img-fluid img-absolute">
                <div class="row mb-4">
                    <div class="col-lg-4 mr-auto">
                        <h1>Learn Better Together.</h1><br>
                        <p class="mb-5">
                            EduMate gives teachers the tools to share engaging lessons, take examinations,
                            and build a vibrant classroom community.
                        </p>
                        <div>
                            <a href="{% url 'signup' %}" class="btn btn-primary mr-2 mb-2 font-bold">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
