amqp==2.5.2
azure-common==1.1.23
azure-core==1.4.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-queue==2.1.0
billiard==3.6.3.0
celery==4.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
dj-database-url==0.5.0
Django==2.2.24
django-appconf==1.0.4
django-cachalot==2.2.0
django-cacheops==4.2
django-ckeditor==5.9.0
django-compressor==2.4
django-debug-toolbar==2.0
django-js-asset==1.2.2
django-markdownx==2.0.28
django-mdeditor==0.1.16
django-redis==4.11.0
django-storages==1.8
django-widget-tweaks==1.4.5
funcy==1.14
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.6.0
isodate==0.6.0
kombu==4.6.8
Markdown==3.1.1
msrest==0.6.13
oauthlib==3.1.0
Pillow==8.3.2
pycparser==2.19
python-dateutil==2.8.1
python-decouple==3.1
pytz==2019.2
rcssmin==1.0.6
redis==3.4.1
requests==2.22.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
sentry-sdk==0.14.3
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
vine==1.3.0
whitenoise==4.1.3
zipp==3.1.0
