{% extends 'base.html' %}

{% comment %}

    This template acts as the update profile page for a user of the website.

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Update | {{ user.username }} | EduMate
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'accounts/css/user-profile.css' %}">
{% endblock %}

{% block body %}
<div class="row custom-row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% include 'pages/partials/left_sidebar.html' %}
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
       <div class="common-form">
            <div class="navigation-list-container">
                <div class="navigation-list-header">
                    <div class="navigation-list-title">
                        Update Your Information
                    </div>
                </div>
                <div class="list-group">
                    {% if profile_change_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &nbsp; &times;</span>
                        </button>
                        {% for error in profile_change_form.non_field_errors %}
                            {{ error }}
                        {% endfor %}                        
                        </div>
                    {% endif %}
                    {% load widget_tweaks %}
                    <form class="common-form" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% for field in profile_change_form.visible_fields %}
                        <div class="form-label-group list-group-item">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <span>
                                    {% if field.name == 'profile_picture' %}
                                        {% if user.profile_picture %}
                                            <img src="{{user.profile_picture.url}}" class="profile-picture" /><br />
                                        {% endif %}
                                        <input type="file" name="profile_picture" accept="image/*" class="form-control" id="id_profile_picture">
                                        <span>&nbsp;</span>
                                    {% else %}
                                        {% render_field field class="form-control is-invalid" %}                            
                                    {% endif %}
                                    <div class="error">
                                        {% for error in field.errors %}
                                            {{ error }} <br/>
                                        {% endfor %}
                                    </div>
                                </span>                
                            {% else %}
                                <span>
                                {% if field.name == 'profile_picture' %}
                                    {% if user.profile_picture %}
                                        <img src="{{user.profile_picture.url}}" class="profile-picture" />
                                        <span>&nbsp;</span>
                                    {% endif %}
                                    <input type="file" name="profile_picture" accept="image/*" class="form-control" id="id_profile_picture">
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                                </span>
                            {% endif %}          
                        </div>
                        {% endfor %}
                        <div class="list-group-item">
                            <button class="btn btn-sm btn-primary text-uppercase font-bold" name="user_profile_change_submit" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="common-form">
            <div class="navigation-list-container">
                <div class="navigation-list-header">
                    <div class="navigation-list-title">
                        Update Your Information
                    </div>
                </div>
                <div class="list-group">
                    {% if password_change_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &nbsp; &times;</span>
                        </button>
                        {% for error in password_change_form.non_field_errors %}
                            {{ error }}
                        {% endfor %}                        
                        </div>
                    {% endif %}
                    {% load widget_tweaks %}
                    <form class="common-form" method="POST" novalidate>
                        {% csrf_token %}
                        {% for field in password_change_form.visible_fields %}
                        <div class="form-label-group list-group-item">
                            {% if field.errors %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}: </label>
                                <span>
                                    {% render_field field class="form-control is-invalid" %}                            
                                    <div class="error">
                                        {% for error in field.errors %}
                                            {{ error }} <br/>
                                        {% endfor %}
                                    </div>
                                    {% if field.help_text %}
                                        <div class="help-text">{{ field.help_text|safe }}</div>
                                    {% endif %}
                                </span>                
                            {% else %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}: </label>
                                <span>
                                    {% render_field field class="form-control" %}
                                    <div class="help-text">{{ field.help_text|safe }}</div>                    
                                </span>
                            {% endif %}        
                        </div>
                        {% endfor %}
                        <div class="list-group-item">
                            <button class="btn btn-sm btn-primary text-uppercase font-bold" name="user_password_change_submit" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% include 'pages/partials/right_sidebar.html' %}
    </div>
</div>
{% endblock %}
