{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Password Reset Done' page (the page that comes after password reset email is sent) 
    for the website.

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Password Reset | EduMate
{% endblock %}

{% block body %}
<div class="container custom-container font-open-sans">
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.<br/>
        If you don't receive an email, please make sure you've entered the address you registered with, and check your
        spam folder.
    </p>
</div>
{% endblock %}
