{% extends 'base.html' %}

{% block meta %}
{% endblock %}

{% block title %}
Sign Up | EduMate
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'accounts/css/registration.css' %}">
{% endblock %}

{% block body %}
<div class="container custom-container font-open-sans">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &nbsp; &times;</span>
                        </button>
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}                        
                        </div>
                    {% endif %}
                    {% load widget_tweaks %}
                    <form class="form-signin" method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="form-label-group">
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" placeholder=field.label %}                            
                                <label for={{field.id_for_label}}>{{ field.label }}</label>
                                <div class="error">
                                    {% for error in field.errors %}{{ error }}<br/>{% endfor %}
                                </div>
                                {% if field.label == 'Password' %}
                                    <div class="help-text">{{ field.help_text|safe }}</div>
                                {% endif %}
                            {% else %}
                                {% if field.label == 'Role' %}
                                    <div id="user-role">
                                        {% render_field field %}
                                    </div>
                                {% else %}
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <label for={{field.id_for_label}}>{{ field.label }}</label>
                                    {% if field.label == 'Password' %}
                                    <div class="help-text">{{ field.help_text|safe }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}    
                        </div>
                        {% endfor %}
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}