{% extends 'base.html' %}

{% comment %}

This template acts as the submission (examination environment) page of the exam.

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
{{ submission.exam.title }} | {{ user.username }}
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'exams/css/submission.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h5>
            [{{exam.classroom.title}}] {{ exam.title }}
        </h5>
    </div>
    <br>
    <div class="row">
        <h5 id="exam-timer">
        </h5>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="navigation-bar row">
        <ul id="tabs">
            {% for _, question_and_answer in questions_and_answer.items %}
            <li>
                <a id="tab{{forloop.counter}}" class="
                    btn-submission 
                    {% if question_and_answer.answer %}
                    btn-complete
                    {% else %}
                    btn-incomplete
                    {% endif %}
                    {% if forloop.counter == 1 %}
                    btn-active
                    {% endif %}
            ">
                    {{ forloop.counter }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row pt-5">
        {% for _, question_and_answer in questions_and_answer.items %}
        <div class="question-container" id="tab{{forloop.counter}}C">
            {% include 'exams/answer_form.html' with form=question_and_answer.form options=question_and_answer.question.options.all question=question_and_answer.question %}
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    <div>
        <form method="POST" action="{% url 'exam_end' classroom_id=exam.classroom.id exam_id=exam.id %}">
            {% csrf_token %}
            <button class="btn btn-submission btn-question font-bold" type="submit">END EXAMINATION / ASSIGNMENT</button>
        </form>
    </div>
</div>
{% endblock %}

{% block post-js %}
<script>
    // Handling tab clicks.
    // Only show the contents of the 'clicked' tab.
    $(document).ready(function () {
        $('#tabs li a:not(:first)').addClass('inactive');
        $('.question-container').hide();
        $('.question-container:first').show();

        $('#tabs li a').click(function () {
            $('#tabs li a').removeClass("btn-active");
            $(this).addClass("btn-active");

            var currentTab = $(this).attr('id');
            
            if ($(this).hasClass('inactive')) {
                $(".message").text("");

                $('#tabs li a').addClass('inactive');
                $(this).removeClass('inactive');

                $('.question-container').hide();
                $('#' + currentTab + 'C').fadeIn('slow');
            }
        });

    });

    // Handle the timer for the exam.
    $(document).ready(function () {
        let secondsLeft = {{ time_left }};

        // Update the count down every 1 second
        let timer = setInterval(function () {

            secondsLeft--;

            var days = Math.floor(secondsLeft / (60 * 60 * 24));
            var hours = Math.floor((secondsLeft % (60 * 60 * 24)) / (60 * 60));
            var minutes = Math.floor((secondsLeft % (60 * 60)) / 60);
            var seconds = Math.floor(secondsLeft % 60);


            days = (days < 10) ? "0" + days : days;
            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;

            $("#exam-timer").text(`${days} : ${hours} : ${minutes} : ${seconds}`);

            if (secondsLeft <= 0) {
                clearInterval(timer);

                // Redirect after the time is exhausted!
                window.location = "{% url 'exam_detail' classroom_id=exam.classroom.id exam_id=exam.id %}";
            }
        }, 1000);
    });

    // Handle answer 'save' and 'clear'.
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });

        let questionForm = $(".question-form");

        questionForm.on('submit', function (e) {
            e.preventDefault();
            let currentForm = $(this);
            let activeButton = $(".btn-active");

            // The form button that has been clicked. It can be either the 'save' button or the 'clear' button.
            let formButtonClicked = $(document.activeElement);

            let formAction = formButtonClicked.attr("name");
            let messageDiv = currentForm.find(".message");
            let ckeditorInstanceId = currentForm.find("textarea").attr("id");

            // Checking, if really, the form button was clicked or not!
            // ToDO: Handle the scenario when the form button was not clicked.
            // As of now, the absence of any other buttons in the page causes no exceptions.
            if (
                formButtonClicked.length &&
                currentForm.has(formButtonClicked) &&
                formButtonClicked.is('button[type="submit"], input[type="submit"], input[type="image"]') &&
                formButtonClicked.is('[name]')
            ) {
                console.log(`${formAction} called!`);
            }

            let url = currentForm.attr("action");
            let method = currentForm.attr("method");

            // Updating the ckeditor instance of the current tab, so that the most recent
            // changes are taken into account while submission.
            if (ckeditorInstanceId != undefined) {
                CKEDITOR.instances[ckeditorInstanceId].updateElement();
            }

            // HACK alert!
            // Adding the action - 'save' or 'clear' as an input so that its available in the back-end xD.
            currentForm.append(`<input name="${formAction}" value="" class="dl-none">`);

            let dataToBeSubmitted = currentForm.serialize();

            // Now removing it.
            currentForm.find(`input[name="${formAction}"]`).remove();

            // Submitted the form via AJAX.
            $.ajax({
                method: method,
                url: url,
                data: dataToBeSubmitted
            })
            .done(function (data, status) {
                if (formAction === "save") {
                    activeButton.addClass("btn-complete");
                } else if (formAction == "clear") {
                    activeButton.removeClass("btn-complete");
                    activeButton.addClass("btn-incomplete");

                    currentForm.trigger("reset");

                    // Sometimes, triggering 'reset' does not clears the radio and checkbox inputs.
                    currentForm.find("input[type=\"radio\"]").prop("checked", false);
                    currentForm.find("input[type=\"checkbox\"]").prop("checked", false);

                    if (ckeditorInstanceId != undefined) {
                        CKEDITOR.instances[ckeditorInstanceId].setData("");
                    }
                }

                messageDiv.removeClass("text-danger");
                messageDiv.addClass("text-success");
                messageDiv.text(data.message);
            })
            .fail(function (data, status) {
                messageDiv.removeClass("text-success");
                messageDiv.addClass("text-danger");
                messageDiv.text(data.responseJSON.message);
            });
        });
    });
</script>
{% endblock %}
