{% comment %}
    
    This template acts the left sidebar, common to the various
    different pages of the website - feed, classroom, user profile, etc.

{% endcomment %}


{% comment %}
    
    The following block adds a 'User Detail' card to the left sidebar.

{% endcomment %}
{% if not request.path == '/accounts/'|add:user.username|add:'/' %}
<div class="profile-card">
    <div class="float-left">
        <div class="float-left">
            {% if user.profile_picture %}
                <img src = {{ user.profile_picture.url }} class="profile-card-avatar" alt="{{ user.first_name }}'s avatar">
            {% else %}
                {% load static %}
                <img src="{% static 'img/default_avatar.jpg' %}" class="profile-card-avatar" alt="{{ user.first_name }}'s avatar">
            {% endif %}
        </div>
        <div class="float-left">
            <a href={% url 'user_profile' username=user.username %}> {{ user.first_name }} {{ user.last_name }} </a><br>
            {% if user.is_student %}
                <span class="text-muted">Student</span>
            {% else %}
                <span class="text-muted">Teacher</span>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}


{% comment %}
    
    The following block adds a 'My Classes' card to the left sidebar.

    If the authenticated user is a teacher, the card contains the classes that the user has created.
    If the authenticated user is a student, the card contains the classes that the user is a part of.

{% endcomment %}
<div class="navigation-list-container">
    <div class="navigation-list-header">
        <div class="navigation-list-title">
            <span>My Classes</span>
        </div>
    </div>
    <div class="list-group">
        {% if left_sidebar.classrooms.count > 0 %}
            {% for classroom in left_sidebar.classrooms %}
                <a href="{% url 'classroom_detail' id=classroom.id %}" class="list-group-item list-group-item-action">{{ classroom.title }}</a>
            {% endfor %}
        {% else %}
            {% if user.is_student %}
                <span class="list-group-item"> You have not joined any classrooms yet! </span>
            {% else %}
                <span class="list-group-item"> You have not created any classrooms yet! </span>
            {% endif %}
        {% endif %}
    </div>
</div>


{% comment %}
    
    The following block adds a 'Examinations/Assignments' card to the left sidebar.

    If the authenticated user is a teacher, the card contains the examinations/assignments that the user has created.
    If the authenticated user is a student, the card contains the examinations/assignments that the user has taken or is required to take.

{% endcomment %}
<div class="navigation-list-container">
    <div class="navigation-list-header">
        <div class="navigation-list-title">
            <span>Examinations / Assignments</span>
        </div>
    </div>
    <div class="list-group">
        {% if left_sidebar.exams.count > 0 %}
            {% for exam in left_sidebar.exams %}
                <a href="{% url 'exam_detail' classroom_id=exam.classroom.id exam_id=exam.id %}" class="list-group-item list-group-item-action">
                    [{{exam.classroom.title}}] {{ exam.title }}
                    {% if user.is_student %}
                        {% if exam.submissions.all.0.is_submitted %}
                            <span class="text-success text-right" title="Examination/Assignment already taken!"><i class="fas fa-check-circle"></i></span>
                        {% else %}
                            <span class="text-danger text-right" title="Examination/Assignment due!"><i class="fas fa-exclamation-circle"></i></span>
                        {% endif %}
                    {% endif %}
                </a>
            {% endfor %}
        {% else %}
            {% if user.is_student %}
                <span class="list-group-item"> You have not taken any examinations/assignments yet! </span>
            {% else %}
                <span class="list-group-item"> You have not created any examinations/assignments classrooms yet! </span>
            {% endif %}
        {% endif %}
    </div>
</div>


{% comment %}
    
    The following block adds a 'Create Classroom' form card to the left sidebar.
    This form is available only of the user is a teacher.

{% endcomment %}
{% if left_sidebar.classroom_create_form %}
<div class="navigation-list-container">
    <div class="navigation-list-header">
        <div class="navigation-list-title">
            <span>Create Classroom</span>
        </div>
    </div>
    <div class="list-group">
        <div>
            {% if left_sidebar.classroom_create_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &nbsp; &times;</span>
                    </button>
                    {% for error in left_sidebar.classroom_create_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}                        
                </div>
            {% endif %}
            {% load widget_tweaks %}
            <form class="list-group-item" method="POST" action="{% url 'classroom_create' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="next" />
                {% for field in left_sidebar.classroom_create_form.visible_fields %}
                    <div class="form-label-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }} <br> 
                            <span class="text-muted"> {{ field.help_text }} </span> 
                        </label>
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            <div class="error">
                                {% for error in field.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}    
                    </div>
                {% endfor %}
                <button class="btn btn-primary text-uppercase font-bold" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
