{% comment %}
    
    This template acts as the individual post component within the cumulative feed of
    the logged-in user. 
    The post to be rendered is passed in the 'post' object.

{% endcomment %}

<article class="timeline-card">
    <header class="timeline-header">
        <div>
            <a href="{% url 'user_profile' username=post.user.username %}">
            {% if post.user.profile_picture %}
                <img alt="profile picture" class="timeline-header-profile-photo" src="{{ post.user.profile_picture.url }}">
            {% else %}
                {% load static %}
                <img alt="profile picture" class="timeline-header-profile-photo" src="{% static 'img/default_avatar.jpg' %}">
            {% endif %}
            </a>		
        </div>
        <div class="flex-vertical">
            <div class="timeline-header-profile-name">
                <a href="/accounts/{{ post.user.username }}"> {{ post.user.first_name }} {{ post.user.last_name }} </a>
                <span>&nbsp;</span> <i class="fas fa-angle-right"></i> <span>&nbsp;</span>
                <a href="{% url 'classroom_detail' id=post.classroom.id %}"> {{ post.classroom.title }} </a>
            </div>
            <div class="timeline-header-time">
                <span class="timeline-header-timestamp">{{ post.updated_at }}</span>
            </div>
            
        </div>
        <div style="position: absolute; right: 30px; margin-top: 7px;">
            <a href="{% url 'classroom_post_detail' classroom_id=post.classroom.id post_id=post.id %}" title="External link to post." style="margin: 2px;">
                <i class="fas fa-external-link-alt"></i>
            </a>
            {% if post.classroom.teacher == user or post.user == user %}
                <a href="{% url 'classroom_post_update' classroom_id=post.classroom.id post_id=post.id %}" title="Update post." style="margin: 2px;">
                    <i class="fas fa-edit"></i>                
                </a>
                <form action="{% url 'classroom_post_delete' classroom_id=post.classroom.id post_id=post.id %}" method="POST" style="display:inline; margin: 2px;">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next"/>
                    <button type="submit" class="student-remove-button" title="Delete post.">
                        <i class="fas fa-trash-alt"></i>                
                    </button>
                </form>
            {% endif %}
        </div>
    </header>
    <hr class="custom-ruler">
    <section class="timeline-card-content">
        <p>
            {{ post.post_html|safe }}
        </p>
    </section>
</article>
