<footer>
    <hr>
    <div class="container">
        <div class="row font-bolder">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p>
                    SHARE
                    <a href="https://facebook.com/sharer/sharer.php" aria-label="Share this website on Facebook."><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="" aria-label="Share this website on Twitter."><i class="fab fa-twitter"></i></a>
                </p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p>
                    FOLLOW US
                    <a rel="noreferrer noopener" href="https://facebook.com/" target="_blank"
                        aria-label="Follow us on Facebook."><i class="fab fa-facebook"></i></a>
                    <a rel="noreferrer noopener" href="https://twitter.com/" target="_blank"
                        aria-label="Follow us on Twitter."><i class="fab fa-twitter"></i></a>
                    <a rel="noreferrer noopener" href="https://instagram.com/" target="_blank"
                        aria-label="Follow us on Instagram."><i class="fab fa-instagram" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p><a href="mailto:hello@edumate.com">EMAIL US</a></p>
            </div>
        </div>
        <hr class="footer-hr" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                <p>
                    <a href="/contact/" target="_blank">Contact Us</a><br>
                    <a href="/privacy_policy/" target="_blank">Privacy Policy</a><br>
                    <a href="/terms_and_conditions/" target="_blank">Terms & Conditions</a>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <span style="font-weight: bolder;">EduMate</span>
                </p>
            </div>
        </div>
        <hr class="footer-hr" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>&copy;2019 | Edumate</p>
            </div>
        </div>
    </div>
</footer>