{% comment %}

    This template acts as the template for Django messages 
    (https://docs.djangoproject.com/en/dev/ref/contrib/messages/).
    It is included in 'base.html'. 
    It is included in any template where it is required to display messages.
    
    Note that this template uses Bootstrap classes and will need to be modified if any other library
    is used!

{% endcomment %}

{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show font-open-sans" role="alert" style="margin-top: 30px; border-radius: 0px;">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<br>
{% endif %}