{% comment %}

    This template acts as the template for the website navbar.
    It is included in 'base.html'.
    
{% endcomment %}

{% load static %}
<nav class="navbar navbar-expand-md navbar-white sticky-top">
    <!-- <div id="navbar-logo">
        <a class="navbar-brand logo" href="/">
            <img src="{% static 'img/logo.png' %}" style="width: auto; height: 40px;"/>
        </a>
    </div> -->
    <div class="ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="float-left">
                    <div class="float-left">
                        {% load static %}
                        <img src="{% static 'img/default_avatar.jpg' %}" class="navbar-avatar" alt="User avatar">        
                    </div>
                    <div class="float-left">
                        Me
                        
                    </div>
                </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">
                        <span class="dropdown-icon"> > </span>
                        <i class="fas fa-user"></i> &nbsp; Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <span class="dropdown-icon"> > </span>
                        <i class="fas fa-cogs"></i> &nbsp;Settings
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/signout/">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/signin/">
                    <i class="fas fa-sign-in-alt"></i> Sign In
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% include 'messages.html' %}