{% extends 'base.html' %}

{% block meta %}
{% endblock %}

{% block title %}
{{ classroom.details.title }} | Edumate
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/css/feed.css' %}">
{% endblock %}

{% block body %}
<div class="row custom-row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% include 'pages/partials/left_sidebar.html' %}
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h5 class="classroom-title">{{ classroom.details.title }}</h5>
        <p class="classroom-description text-muted">{{ classroom.details.description }}</p>
        
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% include 'classroom/partials/students.html' %}
        {% include 'pages/partials/right_sidebar.html' %}
    </div>
</div>
{% endblock %}