{% extends 'base.html' %}

{% comment %}

    This template acts as the view responsible for the updation of a post. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Update Post | {{ classroom.details.title }} | Edumate
{% endblock %}

{% block css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/css/feed.css' %}">
{% endblock %}

{% block body %}
<div class="row custom-row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% include 'pages/partials/left_sidebar.html' %}
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <div class="navigation-list-title">
                    <span>Update Post</span>
                    <span>&nbsp;</span>
                    (
                    <a href="/accounts/{{ post.user.username }}"> {{ post.user.first_name }} {{ post.user.last_name }} </a>
                    <span>&nbsp;</span> <i class="fas fa-angle-right"></i> <span>&nbsp;</span>
                    <a href="{% url 'classroom_detail' id=post.classroom.id %}"> {{ post.classroom.title }} </a>
                    )
                </div>
            </div>
            <div class="list-group">
                <div>
                    {% if classroom.forms.post_create_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &nbsp; &times;</span>
                            </button>
                            {% for error in classroom.forms.post_create_form.non_field_errors %}
                                {{ error }}
                            {% endfor %}                        
                        </div>
                    {% endif %}
                    {% load widget_tweaks %}
                    <form class="list-group-item" method="POST" action="{% url "classroom_post_update" classroom_id=classroom.details.id post_id=post.id %}" id="post-create-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ request.path }}" name="next" />
                        {% for field in classroom.forms.post_create_form.visible_fields %}
                            <div class="form-label-group">
                                <label for="{{ field.id_for_label }}"> 
                                    <span class="text-muted"> {{ field.help_text }} </span> 
                                </label>
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    <div class="error">
                                        {% for error in field.errors %}{{ error }}<br/>{% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}    
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary text-uppercase font-bold" type="submit">UPDATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        {% if classroom.details.teacher == user %}
            {% include 'classroom/partials/code.html' %}
        {% endif %}
        {% include 'pages/partials/right_sidebar.html' %}
    </div>
</div>

{% comment %}

    A little hack to pass the Markdown and LaTex rendered post to the back-end.

    ToDo: Get rid of this hack and find a method to render the posts in front-end!

{% endcomment %}
<script>
    $("document").ready(function() {
        $("#post-create-form").submit(function(){
            let html = $(".editormd-preview")[0].innerHTML;
            $("<input>").attr("type", "hidden").attr("name", "html").attr("value", html).appendTo("#post-create-form");
            return true;
        });
    });
</script>
{% endblock %}
