{% comment %}

    This template acts as container where the individual posts (within classrooms) are rendered.

{% endcomment %}

<article class="classroom-post timeline-card">
    <header class="timeline-header">
        <div>
            <a href="{% url 'user_profile' username=post.user.username %}">
            {% if post.user.profile_picture %}
                <img alt="profile picture" class="timeline-header-profile-photo" src="{{ post.user.profile_picture.url }}">
            {% else %}
                {% load static %}
                <img alt="profile picture" class="timeline-header-profile-photo" src="{% static 'img/default_avatar.jpg' %}">
            {% endif %}
            </a>		
        </div>
        <div class="timeline-header-banner flex-vertical">
            <div class="timeline-header-profile-name">
                <a href="/accounts/{{ post.user.username }}/">{{ post.user.first_name }} {{post.user.last_name}}</a>
            </div>
            <div class="timeline-header-time">
                <span class="timeline-header-timestamp">{{ post.updated_at }}</span>
            </div>
        </div>
        
        <div class="options text-right">
            <a href="{% url 'classroom_post_detail' classroom_id=classroom.details.id post_id=post.id %}" title="External link to post." class="mr-1">
                <i class="fas fa-external-link-alt"></i>
            </a>
            {% if classroom.permissions.can_remove_posts or post.user == user %}
                <a href="{% url 'classroom_post_update' classroom_id=classroom.details.id post_id=post.id %}" title="Update post." class="mr-1">
                    <i class="fas fa-edit"></i>                
                </a>
                <form action="{% url 'classroom_post_delete' classroom_id=classroom.details.id post_id=post.id %}" method="POST"  class="d-inline mr-1">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next"/>
                    <button type="submit" class="student-remove-button" title="Delete post.">
                        <i class="fas fa-trash-alt"></i>                
                    </button>
                </form>
            {% endif %}
        </div>
    </header>
    <hr class="custom-ruler">
    <section class="timeline-card-content">
        <div class="post">
            {{ post.post | safe }}
        </div>
    </section>
</article>
