{% comment %}

    This template acts as the container where the students of a classroom are rendered.

{% endcomment %}

<div class="navigation-list-container">
    <div class="navigation-list-header">
        <div class="navigation-list-title">
            <span>Students</span>
        </div>
    </div>
    <div class="list-group">
        {% for student in classroom.students %}
            <div class="list-group-item">
                <div class="float-left">
                    <a href="{% url 'user_profile' username=student.username %}">{{ student.first_name }} {{ student.last_name }}</a>
                </div>
                {% if classroom.permissions.can_remove_users %}
                    <div class="float-right">
                        <form action="{% url 'classroom_student_remove' classroom_id=classroom.details.id student_username=student.username %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="student-remove-button" title="Remove {{ student.first_name }} {{ student.last_name }}">
                            <i class="fas fa-times-circle"></i>                
                        </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <span class="list-group-item text-muted">No students have joined the classroom yet!</span>
        {% endfor %}
    </div>
</div>
