{% comment %}

    This template acts as the container where the details of the classroom's teacher
    are rendered.

{% endcomment %}

<div class="navigation-list-container">
    <div class="navigation-list-header">
        <div class="navigation-list-title">
            <span>Teacher</span>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <a href="{% url 'user_profile' username=classroom.details.teacher.username %}">{{ classroom.details.teacher.first_name }} {{ classroom.details.teacher.last_name }}</a>
        </div>
    </div>
</div>
